<div class="container">
	<div class="searchanise-recommendations" id="9Z1R8E3E5L9C6J3"></div>
</div>
{% schema %}
  {
    "name": "Recommendation Product",
    "settings": [],
    "presets":[
        {
          "name":"Recommendation Product"
        }
      ],
      "templates": [
        "product"
      ]
  }
{% endschema %}
